<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">

<title>管理员表</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/com.css">
    
    
    <script src="public/js/jquery.js"></script>
   <!-- <script src="public/js/jquery-1.11.1.min.js"></script>-->
    <script src="public/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
		  $(".click").click(function(){
		  	$(".tip").fadeIn(200);
		  });

		  $(".sure").click(function(){
			  $(".tip").fadeOut(100);
			});

		  $(".cancel").click(function(){
			  $(".tip").fadeOut(100);
			});
		  $(".tiptop a").click(function(){
			  $(".tip").fadeOut(100);
		   });
			$("#checkAll").click(function(){
		
				if(this.checked){
					$(".checkbox_Id").prop("checked",true);
				}else{
					$(".checkbox_Id").prop("checked",false);
				}

			});	
			$("#sub").click(function(){
				var params=$("#search_form").serialize();
				$.ajax({
					type:"POST",
					url:"index.php?a=search&c=admin",
					data: params,
					success: function(d){
						var s=d.substr(d,(d.length-1));
						if(d!="null"){
							$("#wrapper").html(s);
						}else{
							//$("t_info").html("查询失败");
						}
					}
				})
			})
			$(".sure").click(function(){
				var params=$("#deleteRows_form").serialize();
				$.ajax({
					type:"POST",
					url:"index.php?a=deleteRows&c=admin",
					data: params,
					success: function(d){
						if(d!="null"){
							$("#wrapper").html(d);
						}else{
							//$("t_info").html("删除失败");
						}
					}
				})
			})
		}); 
	</script>
    <!--<script src="public/js/jquery.idTabs.min.js"></script>-->
    <script src="public/js/com.js"></script>
	
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="index.php">首页</a></li>
    <li>></li>
    <li><a href="#">管理员管理</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual"> 
    
        <div class="itab">
        	<ul> 
        		<li><a href="javascript:;" onclick="showAtRight('index.php?a=add&c=admin')">添加管理员</a></li> 
        		<li><a href="javascript:;" class="selected">管理员管理</a></li> 
       	    </ul>
        </div>
    
       <div id="tab2" class="tabson">
        <form class="form-inline" role="form" method="post" id="search_form">
  			<div class="form-group">
    			<label for="sex" class="control-label">性别:</label>
        		<select class="form-control" name="sex" id="sex">
					<option value="">全部</option>
					<option value="男">男</option>
					<option value="女">女</option>
        		</select>
 	 		</div>
  			 <div class="form-group">
                <label for="name" class="control-label "> 姓名: </label>
                <input type="text" id="name" name="name" class="form-control" placeholder="请输入账户名/真实姓名">
  			</div>
            <div class="form-group">
                <button type="button" id="sub" class="btn btn-default">查询</button>
            </div>
		</form>
        <form method="post" id="deleteRows_form">
        	<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover tablelist">
					<tr>
						 <th><input name="" type="checkbox" id="checkAll" checked="checked"/></th>
						 <th>姓名</th>
						 <th>真实姓名</th>
						 <th>性别</th>
						 <th>邮箱</th>
						 <th>手机号码</th>
						 <th class="listyin">添加时间</th>
						 <th>操作</th>
					</tr>
					<? foreach($data as $v){ ?>
					<tr>
                     	<td><input name="Id[]" type="checkbox" class="checkbox_Id" value="<? echo $v['Id']?>"/></td>
                     	<td><? echo $v['adminname'];?></td>
                     	<td><? echo $v['realname'];?></td>
                     	<td ><? echo $v['sex'];?></td>
                     	<td><? echo $v['email'];?></td>
                     	<td><? echo $v['phone'];?></td>
                     	<td  class="listyin"><? echo $v['addtime'];?></td>
                     	<td>
                     		<a href="javascript:;" onclick="showAtRight('index.php?a=update&c=admin&p=<? echo $v['Id']?>')" class="tablelink"> 查看/修改</a> 
                     		<a href="javascript:;" onclick="showAtRight('index.php?a=delete&c=admin&p=<? echo $v['Id'];?>')" class="tablelink"> 删除</a>
                     	</td>
           			</tr>
                   <? } ?>
                    <tr>
                    	<td colspan="8"><a href="javascript:;" class="tablelink click">删除全部</a></td>
            		</tr>
				</table>
			</div>
           <!-- <div class="prompt">删除成功</div>-->
            <ul class="pagination">
            	<?=$page_cls -> myde_write($word)?>
			</ul>
			<div class="tip">
			  <div class="tiptop"><span>提示信息</span><a></a></div>
			  <div class="tipinfo">
				<span><img src="public/img/ticon.png" /></span>
				<div class="tipright">
					<p>是否确认对信息的删除？</p>
					<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
				</div>
			  </div>

				<div class="tipbtn">
					<input name="" type="button"  class="sure" value="确定" />&nbsp;
					<input name="" type="button"  class="cancel" value="取消" />
				</div>

			</div> 
        </form>
        
        </div>
       
	</div> 
 
	<!--<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    -->
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</div>
</body>
</html>
