<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">

<title>学生表</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/com.css">
    
    
    <script src="public/js/jquery.js"></script>
    <!--<script src="public/js/jquery-1.11.1.min.js"></script>-->
    <script src="public/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		  $(".click").click(function(){
		  	$(".tip").fadeIn(200);
		  });

		  $(".sure").click(function(){
			  $(".tip").fadeOut(100);
			});
			$(".tiptop a").click(function(){
			  $(".tip").fadeOut(100);
			});
		  $(".cancel").click(function(){
			  $(".tip").fadeOut(100);
			});
			$("#checkAll").click(function(){
		
				if(this.checked){
					$(".checkbox_Id").prop("checked",true);
				}else{
					$(".checkbox_Id").prop("checked",false);
				}

			});	
			$("#dmt_Number").change(function(){
				$.ajax({
					type:"get",
					url:"index.php?a=ajaxGetDeMa&c=majors",
					data:"majorsDepartment="+$("#dmt_Number").val(),
					success: function(d){
						//var s=d.substr(d,(d.length-1));
						$("#major_Number").html(d);
					}
				})
			})
			$("#sub").click(function(){
				var params=$("#search_form").serialize();
				$.ajax({
					type:"POST",
					url:"index.php?a=search&c=student",
					data: params,
					success: function(d){
						$("#wrapper").html(d);
					}
				})
			})
			$(".sure").click(function(){
				var params=$("#deleteRows_form").serialize();
				$.ajax({
					type:"POST",
					url:"index.php?a=deleteRows&c=student",
					data: params,
					success: function(d){
						$("#wrapper").html(d);
					}
				})
			})
		}); 
	</script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="index.php">首页</a></li>
    <li>></li>
    <li><a href="#">学生管理</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual"> 
    
        <div class="itab">
        	<ul> 
        		<li><a href="javascript:;" onclick="showAtRight('index.php?a=add&c=student')">添加学生</a></li> 
        		<li><a href="javascript:;" class="selected">学生管理</a></li> 
       	    </ul>
        </div> 
    
       <div id="tab2" class="tabson">
          <form class="form-inline" role="form" id="search_form" method="post">
  		    <div class="form-group listyin">
    			<label class="control-label">所属系:</label>
        			<select class="form-control" id="dmt_Number" name="dmt_Number">
        			<option value="">全部</option>
        			<? foreach($data_dm as $v_dm){ ?>
        				<option value="<? echo $v_dm['dmt_Number']?>"><? echo $v_dm['dmt_name']?></option>
        			<? }?>
        			</select>
 	 		</div>
            
 	 		<div class="form-group">
    			<label class="control-label">所属专业:</label>
        		<select class="form-control" id="major_Number" name="major_Number">
        			<option value="">全部</option>
        		</select>
 	 		</div>
            <div class="form-group">
    			<label class="control-label">性别:</label>
        		<select class="form-control" name="stu_sex">
        			<option value="">全部</option>
        			<option value="男">男</option>
        			<option value="女">女</option>
        		</select>
 	 		</div>
 	 		<div class="form-group">
                <label for="name" class="control-label" > 学生: </label>
                <input type="text" class="form-control"  id="name" name="name" placeholder="学生姓名、学号"/>
  			</div>
          <div class="form-group">
            <button type="button" id="sub" class="btn btn-default">查询</button>
          </div>
		</form>
        
        <form method="post" id="deleteRows_form">
        <div class="table-responsive">
				<table class="table table-bordered table-striped table-hover tablelist">
                  <tr> 
					<th><input type="checkbox" id="checkAll" checked=""/></th>
					<th class="listyin">系</th>
					<th>专业</th>
					<th>姓名</th>
					<th>性别</th>
					<th>年龄</th>
					<th>学分</th>
					<th>电话</th>
					<th>邮箱</th>
					<th class="listyin">注册时间</th>
					<th>操作</th>
				  </tr>
					<? foreach($data as $v){ ?>
				  <tr>
                     <td><input name="stu_number[]" type="checkbox" value="<? echo $v['stu_number']?>" class="checkbox_Id"/></td>
                     <td class="listyin"><? echo $v['dmt_name']?></td>
                     <td><? echo $v['majorsName']?></td>
                     <td><? echo $v['stu_realname']?></td>
                     <td><? echo $v['stu_sex']?></td>
                     <td><? echo $v['stu_age']?></td>
                     <td><? echo $v['stu_credits']?></td>
                     <td><? echo $v['stu_phonenumber']?></td>
                     <td><? echo $v['stu_email']?></td>
                     <td class="listyin"><? echo $v['stu_addtime']?></td>
                     <td>
						<a href="javascript:;" onclick="showAtRight('index.php?a=update&c=student&p=<? echo $v['stu_number'];?>')" class="tablelink"> 查看/修改</a> 
						<a href="javascript:;" onclick="showAtRight('index.php?a=delete&c=student&p=<? echo $v['stu_number'];?>')" class="tablelink"> 删除</a>
            		 </td>
           		  </tr>
                   <? } ?>
                    <tr>
            		<td colspan="11"><a href="javascript:;" class="tablelink click">删除全部</a></td> 
            		</tr> 
				</table>
			</div>
            <!--<div class="prompt dui"><i class="fa fa-check-circle"></i></div>-->
            <!--<div class="prompt cuo"><i class="fa fa-times-circle"></i></div>-->
            <ul class="pagination">
            <?=$page_cls -> myde_write($word)?>
			</ul>
        <div class="tip">
          <div class="tiptop"><span>提示信息</span><a></a></div>
          <div class="tipinfo">
            <span><img src="public/img/ticon.png" /></span>
            <div class="tipright">
              <p>是否确认对信息的删除？</p>
              <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
          </div>
          <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
          </div>
        </div> 
        </form>
        
        </div>
       
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</div>
</div>
</body>
</html>
