<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">

<title>添加学生</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/com.css">
    
    <script src="public/js/jquery.js"></script>
    <!--<script src="public/js/jquery-1.11.1.min.js"></script>-->
    <script src="public/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#majorsDepartment").change(function(){
				$.ajax({
					type:"get",
					url:"index.php?a=ajaxDM&c=majors",
					data:"majorsDepartment="+$("#majorsDepartment").val(),
					success: function(d){
						//var s=d.substr(d,(d.length-1));
						$("#stu_majors").html(d);
					}
				})
			})
			$(".cuo").hide();
			$(".dui").hide();
			$("#sub").click(function(){
				var params=$("#add_form").serialize();
				$.ajax({
					type : "POST" ,
					url : "index.php?a=add&c=student&act=action",
					data : params,
					success : function(d){
						//var s=result.substr(result,(result.length-1));
						if(d=='ok'){
							$(".cuo").hide();
							$(".dui").show(720);
						}else{
							$(".dui").hide();
							$(".cuo").show(720);
						}
					}
				})
			})
			function qk(){
				$("#stu_realname").val("");
				$("#stu_age").val("");
				$("#stu_phonenumber").val("");
				$("#stu_email").val("");
				$("#stu_majors").html('<option value="">请选择</option>');
				var de="<option value=''>请选择</option><? foreach($data_dm as $v_dm){ ?><option value='<? echo $v_dm['dmt_Number'];?>'><? echo $v_dm['dmt_name'];?></option><? } ?>";
				$("#majorsDepartment").html(de);
			}
		})
	</script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="index.php">首页</a></li>
    <li>></li>
    <li><a href="#">添加学生</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual"> 
    
        <div class="itab">
        	<ul> 
        		<li><a href="javascript:;" class="selected">添加学生</a></li> 
        		<li><a href="javascript:;" onclick="showAtRight('?a=search&c=student')">学生管理</a></li> 
       	    </ul>
        </div> 
    
       <div id="tab1" class="tabson">
        <form class="form-horizontal" role="form" method="post" id="add_form">
                  <div class="form-group">
                    <label for="stu_realname" class="col-sm-2 control-label">学生姓名：</label>
                	<div class="col-sm-10">
                  		<input type="text" class="form-control" id="stu_realname" name="stu_realname" placeholder="请输入学生姓名" >
                	</div>
              	  </div>
              	  <div class="form-group">
                  <label for="stu_sex" class="col-sm-2 control-label">学生性别：</label>
                   <div class="col-sm-10 sex">
                       <input type="radio" name="stu_sex" value="男" id="man" checked /><label for="man"> 男</label>
                       <input type="radio" name="stu_sex" value="女" id="woman" /><label for="woman"> 女</label>
                    </div>
                    </div>
				   <div class="form-group">
					<label for="stu_age" class="col-sm-2 control-label">学生年龄：</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="stu_age" name="stu_age" placeholder="请输入年龄" />
					</div>
				  </div>
				  <div class="form-group">
					<label for="stu_phonenumber" class="col-sm-2 control-label">学生电话：</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="stu_phonenumber" name="stu_phonenumber" placeholder="请输入学生电话" />
					</div>
				  </div>
				  <div class="form-group">
					<label for="stu_email" class="col-sm-2 control-label">学生邮箱：</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="stu_email" id="stu_email" placeholder="请输入学生邮箱" />
					</div>
				  </div>
                 
                 <div class="form-group">
					<label for="majorsDepartment" class="col-sm-2 control-label">所属系：</label>
					<div class="col-sm-10">
					  <select class="form-control" id="majorsDepartment" name="majorsDepartment">
						<option value="">请选择</option>
						<? foreach($data_dm as $v_dm){ ?>
						<option value="<? echo $v_dm['dmt_Number'];?>"><? echo $v_dm['dmt_name'];?></option>
						<? } ?>
					</select>
					</div>
				  </div>
				   <div class="form-group">
					<label for="stu_majors" class="col-sm-2 control-label">所属专业：</label>
					<div class="col-sm-10">
					  <select class="form-control" id="stu_majors" name="stu_majors">
						<option value="">请选择</option>
					</select>
					</div>
				  </div>
                 <div class="form-group">
                	<div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="sub" class="btn btn-default upbtn">添加</button>
                    <input type="reset" class="btn btn-default upbtn" value="重置">
                	</div>
                </div>
             <div class="form-group">
				<div class="col-sm-12 prompt dui"><i class="fa fa-check-circle">学生添加成功！</i></div>
            	<div class="col-sm-12 prompt cuo"><i class="fa fa-times-circle">学生添加失败！</i></div>
			</div>
        </form>
       </div>
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</div>

</body>
</html>
