<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">

<title>角色表</title>
<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/css/base.css"/>
<link rel="stylesheet" type="text/css" href="public/css/admin.css"/>
<link rel="stylesheet" type="text/css" href="public/css/com.css">

<script src="public/js/jquery.js"></script>
<!--<script src="public/js/jquery-1.11.1.min.js"></script>-->
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/com.js"></script>
    
<script type="text/javascript">
		$(document).ready(function(){
		  $(".click").click(function(){
		  	$(".tip").fadeIn(200);
		  });

		  $(".sure").click(function(){
			  $(".tip").fadeOut(100);
			});

		  $(".cancel").click(function(){
			  $(".tip").fadeOut(100);
			});
		  $(".tiptop a").click(function(){
			  $(".tip").fadeOut(100);
		   });
			$("#checkAll").click(function(){
		
				if(this.checked){
					$(".checkbox_Id").prop("checked",true);
				}else{
					$(".checkbox_Id").prop("checked",false);
				}

			});	
			$(".sure").click(function(){
				var params=$("#deleteRows_form").serialize();
				$.ajax({
					type:"POST",
					url:"index.php?a=deleteRows&c=user",
					data: params,
					success: function(d){
						$("#wrapper").html(d);
					}
				})
			})
		}); 
	</script>

</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="index.php">首页</a></li>
    <li>></li>
    <li><a href="#">角色管理</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual"> 
    
        <div class="itab">
        	<ul> 
        		<li><a href="javascript:;" onclick="showAtRight('?a=add&c=user')">添加角色</a></li> 
        		<li><a href="#tab2" class="selected">角色列表</a></li> 
       	    </ul>
        </div>
    
       <div id="tab2" class="tabson">
        <form method="post" id="deleteRows_form">
        <div class="table-responsive">
				<table class="table table-bordered table-striped table-hover tablelist">
					<tr> 
					<th><input name="" type="checkbox" value="" id="checkAll" checked="checked"/></th>
					<th>角色名</th>
					<th>权限内容</th>
					<th>添加者</th>
					<th>添加时间</th>
					<th>操作</th>
					</tr>
					<? foreach($data as $v){ ?>
					<tr>
                     <td><input name="Id[]" type="checkbox" value="<? echo $v['Id']?>" class="checkbox_Id"/></td>
                     <td><? echo $v['power_name']?></td>
                     <td><? echo cutstr_html($v['power_lv'],100)?></td>
                     <td><? echo $v['addname']?></td>
                     <td><? echo $v['addtime']?></td>
                    <td>
                    <a href="javascript:;" onclick="showAtRight('index.php?a=update&c=user&p=<? echo $v['Id']?>')" class="tablelink"> 查看/修改</a> 
            		<a href="javascript:;" onclick="showAtRight('index.php?a=delete&c=user&p=<? echo $v['Id']?>')" class="tablelink"> 删除</a>
            		</td>
           			</tr>
           			<? } ?>
            		<td colspan="7"><a href="javascript:;" class="tablelink click">删除全部</a></td> 
            		</tr> 
				</table>
			</div>
		<div class="tip">
			<div class="tiptop"><span>提示信息</span><a></a></div>
			<div class="tipinfo">
			  <span><img src="public/img/ticon.png" /></span>
              <div class="tipright">
              	<p>是否确认对信息的删除？</p>
              	<cite>如果是请点击确定按钮 ，否则请点取消。</cite>
              </div>
          </div>
          <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
          </div>
        </div> 
        </form>
        
        </div>
       
	</div> 
 
	<!--<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    -->
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</div>
</body>
</html>
